@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.home-page {
  background-image: url('./Images/homePageImage2.jpg'); /* AI Generated Image */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;

  h1 {
    font-size: 2em; 
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  .login-button {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    text-align: center;
    background-color: #378fe7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #0098b3;
  }

  .slideshow {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}