@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.login-signup-page {
  background-image: url('./Images/loginPageImage.jpg'); /*AI Generated Image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #050505a6;
  font-family: 'Orbitron', sans-serif;
  /*animation: fadeIn 3s ease-in-out;*/

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  h2 {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #050505a6;
    text-align: center;
    margin-bottom: 20px;
  }

  h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #050505a6;
    animation: typing 3s steps(10, end) forwards, glow 1.5s ease-in-out infinite alternate;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes glow {
    from {
      box-shadow: 0 0 10px #050505a6, 0 0 20px #050505a6, 0 0 30px #050505a6;
    }

    to {
      box-shadow: 0 0 20px #050505a6, 0 0 30px #050505a6, 0 0 40px #050505a6;
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 35px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-container {
    width: 100%;
    margin-bottom: 16px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }

  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #2980b9;
  }

  p {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    color: #333;
    text-decoration: none;
  }

  p button {
    font-size: 18px;
    color: #d6dce0;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  .error {
    color: #d6dce0;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
    animation: glow 1s infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #d6dce0, 0 0 20px #d6dce0, 0 0 30px #d6dce0;
    }

    to {
      text-shadow: 0 0 20px #173f5f, 0 0 30px #173f5f, 0 0 40px #173f5f;
    }
  }
}